body{
    background-color: #daf0fc;
    --font-size: 10px;
    --color-1: white;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.root{
    text-align: center;
}
@media  screen and (min-width: 1200px) {
    body{
        width: 100vw;
    }
    .container{
        width: 95vw;
    }
}
