.item-card{
    position: relative;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    border-radius: .5rem;   
    background-color: var(--color-1);
    margin: .4rem;
}
.item-card:hover{
    box-shadow: 0 0 .4rem rgb(206, 206, 241);
    cursor: pointer;
}
.div-img{
    width: 75%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 8px;
}
.div-img>img{  
    width: 100%;
}
.item-title{
    width: 90%;
    height: 80px;
    font-size: 92%;
    font-weight: 600;
    margin: 1rem 1rem;
}

.item-descr, .full-descr{      
    font-weight: 300;
    line-height: 1.2;
    text-align: left;  
    overflow-wrap: break-word;
}
.item-descr{  
    width: 90%; 
    font-size: 92%;  
    height: 55px;
    overflow: hidden;
    
}

.full-descr{
    width: 90%; 
    font-size: 95%;
    background-color: var(--color-1);
    box-shadow: 0 0 .4rem rgb(206, 206, 241);
    border-radius: .5rem;
    padding: .25rem;
    display: none;
    transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.item-descr:hover .full-descr{
   position: absolute;
   left: .25rem;
   bottom: 130px;
   display: block; 
   z-index: 9999;
}

.item-price{
    align-self: self-start;
    color: red;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem;   
}
.item-rating{
    width: 90%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.rate, .count{
    color: red;
    font-weight: 600;
}
.btn-shop{
    width: 60%;
    padding: 4%;
    color: var(--color-1);
    font-weight: 700;
    background-color: blueviolet;
    border-radius: 8px;
    margin-bottom: 20px;
}
